export FLASK_APP='biaoqingbao:create_app()'
export FLASK_DEBUG=1

export DATABASE_URI='postgresql+psycopg2://{user}:{password}@localhost:5432/biaoqingbao'
export SECRET_KEY='complex secret key' # generate: python -c 'import secrets; print(secrets.token_hex())'
export EMAIL_PASSWORD='TODO'
